
* {
	margin: 0;
}


a {
  font-family: sans-serif;
  color: #81848f;
  outline: 0;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #4286f4;
  text-decoration: none;
}

/*HEADER*/

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	padding: 20px;
	height: 50px;
	border-bottom: 1px solid rgba(255,255,255,.4);	
	z-index: 1;
}

.header__logo {
	display: block;
	margin-left: 15px;
}

.header__list {
	display: flex;
	list-style-type: none;
	margin-right: 10px;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 20px;
}

.header__link {
	margin: 15px;
	text-decoration: none;
	color: #515769;
	font-weight: 600;
}



/*SECTION_1*/

.section-1 {
	display: flex;
	flex-direction: column;
	height: 550px;
	width: 100%;
	background: url(../img/section__1.jpg) left center/cover;
	margin: 0px;
}

.section-1__title {
	text-transform: capitalize;
	font-size: 70px;
	font-weight: 600px;
	margin: 200px 0px 0px 20px;
	color: #fff;
}

.section-1__text {
	padding-bottom: 40px;
    margin: 10px 0px 20px 30px;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    width: 500px;
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.section-1__social {
	display: flex;
	list-style-type: none;
	margin: 20px -20px;
}

.social-icons {
  width: 15px;
  height: 10px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  padding: 11px;
  margin: 10px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.social-icons:hover {
  color: #515769;
  background: #fff;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*SECTION-2*/

.section-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 450px;
	background: #fff;;
	color: #fff;
	padding: 100px 20px 10px 80px;
}

.section-2__desc {
	text-align: right;
	width: 400px;
}

.section__title {
	text-transform: capitalize;
	font-size: 30px;
	color: #515769;
	font-weight: 700;
	margin-bottom: 10px;
}

.section__subtitle {
	color: #a6a7aa;
	font-weight: 400;
}

.section-2__lead {
	font-size: 18px;
	color: #a6a7aa;
	text-align: justify;
	margin-bottom: 20px;
}

.flex-wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}

.progress {
	margin-bottom: 20px;
}

.progress-box {
	width: 0%;
	height: 5px;
	border: none;
}

.progress-box--width {
	animation: progres 1s ease-in-out 0.5s 1 normal forwards running;
}

@keyframes progres {
    from { width: 0%;}
    to { width: 100%;}
}

h5 {
	display: flex;
	justify-content: space-between;
	color: #515769;
	font-weight: 700;
}

.progress-percent {
    color: #a6a7aa;
}

/*SECTION-3*/

.section-3 {
	height: 350px;
	background: #fafafa;
	width: 100%;
	padding: 60px 30px 10px 20px;
}

.section-3__wrapper {
	display: flex;
	justify-content: space-between;
	margin: 30px 30px;
}

.section-3__desc {
	text-align: right;
	width: 200px;
	margin-left: 30px;
}

.section-3__cardwrapper {
	display: flex;
	overflow: hidden;
	cursor: pointer;
}

.cardwrapper__container {
	width: 150px;
	height: 250px;
	margin: 3px;
	background: white;
	padding: 15px 30px;
}

.cardwrapper__icon {
	display: block;
	font-size: 40px;
	color: #a6a7aa;
	transition: all .5s ease-in-out;
}

.cardwrapper__title {
	font-size: 20px;
	margin-top: 15px;
	color: #515769;
}

.cardwrapper__text {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #a6a7aa;
}

.cardwrapper__inner {
	transition: all .5s ease-in-out;
}

.cardwrapper__inner:hover {
	margin-top: -60px;
}

.cardwrapper__inner:hover .cardwrapper__icon {
	opacity: 0;
}

.cardwrapper__container--background {
	background: #17bed2;
	transform: scale(0,0);
}

.cardwrapper__container--scale {
	animation: scale 1s ease-in-out 0.5s 1 normal forwards running;
}

@keyframes scale {
    from { transform: scale(0,0);}
    to { transform: scale(1,1);}
}

.cardwrapper--white {
	color: white;
}

/*SECTION-4*/

.section-4 {
	display: flex;
	justify-content: space-between;
	height: 500px;
	background: #fff;;
	color: #fff;
	padding: 100px 30px 10px 100px;
}

.section-4__desc {
	text-align: right;
	width: 400px;
	margin-right: 245px;
}

.section__title {
	text-transform: capitalize;
	font-size: 30px;
	color: #515769;
	font-weight: 700;
	margin-bottom: 10px;
}

.section__subtitle {
	color: #a6a7aa;
	font-weight: 400;
}

.section-4__lead {
	font-size: 18px;
	color: #a6a7aa;
	text-align: justify;
	margin-bottom: 20px;
}

.section-4__wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 80px;
	
}

.section-4__wrapper-img1 {
	display: flex;

}

.section-4__first-img {
	width: 450px;
	height: 250px;
	background: url(../img/01.jpg) left center/cover;
	margin-right: 5px;
}

.section-4__opacity {
	cursor: pointer;
	transition: all 1s ease-in-out;
}


.section-4__opacity:hover {
	opacity: 0.3;
}

.section-4__second-img {
	width: 250px;
	height: 250px;
	background: url(../img/02.jpg) left center/cover;
}

.section-4__wrapper-img2 {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.section-4__third-img {
	width: 230px;
	height: 150px;
	background: url(../img/03.jpg) left center/cover;
}

.section-4__fourth-img {
	width: 230px;
	height: 150px;
	background: url(../img/04.jpg) left center/cover;
}

.section-4__fifth-img {
	width: 230px;
	height: 150px;
	background: url(../img/05.jpg) left center/cover;
}

/*FOOTER*/

.footer {
	height: 200px;
	background: #fafafa;
	width: 100%;
	padding: 60px 30px 10px 20px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	margin: 30px 30px;
}

.footer__desc {
	text-align: right;
	width: 200px;
	margin-left: 30px;
}

.info {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.info__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
}

.info__item {
	margin-left: 100px;
	color: #515769;
	font-weight: 600;
}

.info__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info__link {
	font-size: 11px;
	margin-left: 100px;
	margin-top: 28px;
	color: #515769;
	text-decoration: none;
}


/*-------------*/

.overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}
.visible {
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
	z-index: 2000;
	width: 500px;
	padding: 10px;
	margin-left: -250px;
}
#win button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
	border: none;
	background: transparent;
	color: #4286f4;
}
#win button[type="button"]:hover {
	cursor: pointer;
	color: #4286f4;
	text-decoration: none;
}
#win h2 {
	text-align: center;
	color: #515769;
}

.win__subtitle {
	text-align: center;
	font-size: 15px;
	color: #a6a7aa;
}
.content {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: WhiteSmoke;
	padding: 10px;
	margin-top: 15px;
	color: #a6a7aa;
}

