/*ALL*/

* {
	margin: 0px;
}

a:link, a:visited {
  text-decoration:  none;  
}

/*BODY*/

body {
	min-width: 1000px;
	background: url(../img/background.jpg) repeat;
}



.site-header__wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #41474a;
	padding: 10px;
}

.site-header__img-slogan {
	display: flex;
	align-items: center;
}

.site-header__logo {
	margin-left: 20px;
}

.site-header__slogan {
	margin-left: 5px;
	padding: 15px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	border-left: 3px solid;
	color: white;
}

.contact-site-header {
	margin: 15px 40px;
	color: #de3410;
}

.contact-site-header__text {
	font-size: 16px;
	text-align: right;
	margin-bottom: 2px;
	color: white;
}

.contact-site-header__number {    
	font-size: 26px;
    font-weight: bold;
    color: white
}

/*HEADER-NAV*/

.site-nav {
	display: flex;
	width: 100%;
	padding: 0px 10px;
	background: #81847d;
	text-transform: uppercase;
}

.site-nav__list {
	font-size: 15px;
	display: flex;
	list-style-type: none;
}

.site-nav__item {
	padding: 20px 10px;
	border-bottom: 3px solid #81847d;
}

.site-nav__item:hover {
	border-bottom: 3px solid #aa0000;
}

.site-nav__item:hover .site-nav__link {
	color: #aa0000;
}

.site-nav__link {
	color: white;
	padding: 30px;
}

/*MAIN*/

/*FIRST-ROW*/

.flex-container {
	margin-left: 0 auto;
}

.first-row {
	display: flex;
	justify-content: center;
	background: white;
	margin: 20px;
}

.first-row__img {
	margin: 10px;
	position: relative;
	
}

/*IMG-TEXT*/

.first-row__image-text {
	width: 100%;
	height: 60px;
	background-color: rgba(189, 2, 8, 0.7);
	position: absolute;
	margin-top: -65px;
}

.first-row__arrow-up {
	display: block;
	width: 43px;
	height: 43px;
	position: absolute;
	transform: translate(180px,-30px);
	opacity: 0.9;
	cursor: pointer;
	
}


.first-row__img-desc {
	color: white;
	font-weight: 600px;
	font-size: 28px;
	margin: 15px 10px 10px 10px;
}

/*FIRST-ROW__SUBMENU*/

.first-row__submenu {
	display: block;
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100px;
	background-color: rgb(140, 12, 12);	
}

.first-row__arrow-up:hover .first-row__submenu{
	top: 50%
}

.first-row__rent {
	width: 400px;
	height: 430px;
	margin: 10px;
	background-image: url(../img/rent.jpg);
	background-size: cover;
}

.first-row__news {
	width: 400px;
	height: 430px;
	margin: 10px;
	background: black;
}



/*SECOND-ROW*/

.second-row {
	display: flex;
	justify-content: center;
	background: white;
	margin: 20px;
}

.second-row__contact {
	width: 400px;
	height: 200px;
	margin: 10px;
	border-right:  1px solid black;
}

.second-row__second-item {
	width: 400px;
	height: 200px;
	margin: 10px;
}

.second-row__third-item {
	width: 400px;
	height: 200px;
	margin: 10px;
	border-left: 1px solid black;
}

