@media screen and (min-width:320px) {
     .main_container {
     	width: 320px;
     	margin: 0 auto;
     }

     .header {
     	display: flex;
     	flex-direction: column;
     }
     
      .img_content {
      	display: none;
      }

      .nav {
	background-color: white;
}

ul {
	display: flex;
	align-content: center;
	justify-content: space-around;
	list-style: none;
	font-size: 10px;
	width: 320px;
	margin-left: -29px;
}

.nav__menu--point {
	border: 1px solid #f6f5f0;
	border-bottom: 2px solid #42bff4;
	padding:  5px 14px;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
}

a:visited {
  color:            #675c47;
  text-decoration:  none;

	}

.nav__menu--point:hover {
	background-color: #eddfd4;
}


.flex_container {
	display: flex;
    flex-direction: column;
	font-size: 13px;
<<<<<<< HEAD
	margin-left:0px;
=======
	margin-left:-30px;
>>>>>>> origin/master
	align-content: space-around;
    
}

.firs_column {
	width: 320px;
	background-color: #eddfd4;
	padding: 10px 10px;
	
}

.second_column {
	background-color: #eddfd4;
	padding: 10px 10px;
	width: 320px;
	margin-top: -15px;

}

.footer {
	margin: 20px 30px 20px 30px;
	font-size: 14px;
	opacity: 0.4;
}


}





@media screen and (min-width: 800px) {

.main_container {
	width: 800px;
	background: white;
	margin: 0 auto;	
	position: relative;
}

.header {
	padding: 0px;
}

/*.logo_img {
	width: 340px;
	height: 150px;
	margin: 0px 250px;
	background: url('../img/logo.jpg') no-repeat;
}
*/

.logo_img {
	margin: 0px 250px;
}

.nav {
	background-color: white;
}

ul {
	display: flex;
	align-content: center;
	justify-content: space-around;
	list-style: none;
	font-size: 16px;
	padding: 0px;
	font-weight: 600;
	width: 800px;
	margin-left: 0px;
}



.nav__menu--point {
	padding: 5px 46px;
	border: 1px solid #f6f5f0;
	border-bottom: 2px solid #42bff4;
	margin: 0px;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
}

a:visited {
  color:            #675c47;
  text-decoration:  none;

	}

.nav__menu--point:hover {
	background-color: #eddfd4;
}

.img_content {
	width: 100%;
	display: block;
}

.flex_container {
	display: flex;
    flex-direction: row;
	font-size: 13px;
	justify-content: space-between;
	margin-top: 10px;
	margin-left: 0px;
	
}

.firs_column {
	width: 400px;
	background-color: #eddfd4;
	padding: 10px 30px;
	flex-basis: 54%;
}

.second_column {
	background-color: #eddfd4;
	padding: 10px 25px;
	flex-basis: 30%;
	margin-top: 0px;
}

.footer {
	margin: 20px 20px;
	font-size: 14px;
	opacity: 0.4;
}

}
