
a:link, a:visited {
  text-decoration:  none;  
}

body {
	margin: 0 auto;
	min-width: 1000px;
}

.wrapper {
	display: flex;
}


/*site-header*/

.site-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #292929;
	width: 100%;
	min-width: 950px;
	height: 50px;
	padding: 45px 20px;
	align-items: center;
}

.site-nav__list {
	display: flex;
	list-style-type: none;

}

.site-nav__link {
	display: flex;
	padding: 55px 40px;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
	color: #339933;
	border-bottom: #292929 0.3rem solid;
	background: #292929
}

.site-nav__link:hover {
	border-bottom: #58c93a solid 6px;
	color: #58c93a;
}

/*MAIN CONTENT*/

.main_wrapper {
	display: flex;
	width: 970px;
	align-content: center;
	padding: 80px 0px 0px 0px;
	margin: 0 auto;
	border: 1px solid #e1e0e0;
}

/*LEFT COLUMN*/

.left-column {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	
}

.left-column__publish {
	position: relative;
	overflow: hidden;
}

.left-column__img-author {
	position: absolute;
	color: white;
	font-size: 13px;
	background: rgba(0,0,0,0.6);
	padding: 10px 20px;
	margin-top: -0.3px;
	width: 100%;
	transition: all 0s linear;
}

.left-column__publish:hover .left-column__img-author {
	margin-top: -40px;
}

.left-column__text {
	padding: 5px 10px;
}

.left-column__text {
	margin-left: 10px;
	margin-bottom: 20px;
	color: gray;
	font-size: 20px;
}

.left-column__title {
	font-size: 26px;
	margin-top: 5px;
	margin-bottom: 30px;
	margin-left: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.button-leftColumn__link {
	display: inline;
	font-size: 21px;
	border-radius: 50px;
	padding: 5px 10px;
	margin-left: 10px;
	color: #c2c2c2;
	border: 2px solid #c2c2c2;
	text-decoration: none;
	transition: all 0.1s linear;
}

.left-column__button {
	margin-bottom: 50px;
}
.button-leftColumn__link:hover {
	color: #58c93a;
	border: 2px solid #58c93a;

}

/*RIGHT COLUMN*/

.right-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-basis: 50%;

}

.widget {
	width: 250px;
	margin-bottom: 50px;

}

.widget__h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
	background-color: #f8f8f8;
	color: #6c6969;
	font-weight: bold;
	border-left: 3px solid #58c93a;
	padding: 10px 10px 10px 10px;
	font-size: 18px;
	margin-top: 0px;
}

.widget__search {
	color: #b9b9b9;
	font-size: 12px;
	width: 100%;
	border: 1px solid #e1e0e0;
	border-right: none;
	padding: 15px 20px;
	outline: none;
}

.nav-widget {
	font-size: 20px;
	list-style-type: none;
	margin-left: 20px;
	line-height: 28px;
}
.nav-widget__item {
    border-bottom:1px solid;
    color: #339933;
}

.nav-widget__item:hover { 
    border-bottom: none;
}

.widget__email {
	color: #b9b9b9;
	font-size: 0.75em;
	width: 250px;
	border: 1px solid #e1e0e0;
	border-right: none;
	padding: 15px 50px 15px 20px;
	box-sizing: border-box;
	position: absolute;
	outline: none;

}

.widget__subscribe-button {
	position: absolute;
    transform: translateY(10px) translateX(200px);
  
}

.banner-right__img {
	width: 250px;
	height: 300px;
	margin-top: 50px
}

/*NAVIGATE*/

.navigate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 970px;
	margin: 0 auto;
	border-left: 1px solid #e1e0e0;
	border-right: 1px solid #e1e0e0;
	padding: 35px 0px;
}


.navigate__link {
	text-decoration: none;
    color: #6c6969;
	font-weight: bold;
	text-transform: uppercase;
	margin: 25px;
	border-bottom: 1px solid #fff;
}

.navigate__link:hover {
    border-bottom: 1px solid #6c6969;
}

.footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    border-top: 1px solid #e1e0e0;
    height: 200px;
    line-height: 60px;
    background: #f8f8f8;
    color: #6c6969;
 }

