* {
	margin: 0;

}

a:link {
  text-decoration:  none;
  
}
a:visited {
  text-decoration:  none;

}

body {
	min-width: 850px;
}

.wrapper {
	display: flex;
}


/*HEADER*/

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #292929;
	width: 100%;
	height: 40px;
	padding: 45px 20px;
	align-items: center;
}

.header__menu {
	display: flex;
	list-style-type: none;

}

.menu__header__item__link {
	display: flex;
	padding: 50px 35px;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
	color: #339933;
	border-bottom: #292929 6px solid;
	background: #292929
}

.menu__header__item__link:hover {
	border-bottom: #58c93a solid 6px;
	color: #58c93a;
}

/*MAIN CONTENT*/

.main_wrapper {
	display: flex;
	flex-direction: row;
	width: 970px;
	align-content: center;
	padding: 80px 0px 0px 0px;
	margin: 0 auto;
	border: 1px solid #e1e0e0;
}

/*LEFT COLUMN*/

.left-column {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	flex-basis: 50%;
	
}

.publish {
	position: relative;
	overflow: hidden;
}

.publish__text {
	position: absolute;
	color: white;
	font-size: 13px;
	background: rgba(0,0,0,0.6);
	padding: 10px 20px;
	margin-top: -0.5px;
	width: 100%;
	transition: all 0s linear;
}

.publish:hover .publish__text {
	margin-top: -40px;
}

.left-column__text {
	padding: 5px 10px;
}

.left-column__text>h1 {
	font-size: 26px;
	margin-top: 5px;
	margin-bottom: 30px;
	margin-left: 10px;
	font-weight: bold;
	text-transform: uppercase;

}

.left-column__text>p {
	margin-left: 10px;
	margin-bottom: 20px;
	color: gray;
	font-size: 20px;
}

.button__link {
	display: inline;
	font-size: 21px;
	border-radius: 50px;
	padding: 5px 10px;
	margin-left: 10px;
	color: #c2c2c2;
	border: 2px solid #c2c2c2;
	text-decoration: none;
	transition: all 0.1s linear;
}

.button {
	margin-bottom: 50px;
}
.button__link:hover {
	color: #58c93a;
	border: 2px solid #58c93a;

}

/*RIGHT COLUMN*/

.right-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-basis: 50%;
}

.widget {
	width: 250px;
	margin-bottom: 50px;
}

.widget__h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
	background-color: #f8f8f8;
	color: #6c6969;
	font-weight: bold;
	border-left: 3px solid #58c93a;
	padding: 10px 10px 10px 10px;
	font-size: 18px;
}

.search {
	color: #b9b9b9;
	font-size: 12px;
	width: 100%;
	border: 1px solid #e1e0e0;
	border-right: none;
	padding: 15px 20px;
	outline: none;
}

.widget__nav {
	font-size: 20px;
	list-style-type: none;
	margin-left: 20px;
	line-height: 28px;
}
.widget__nav a  {
    border-bottom:1px solid;
}

.widget__nav a {
	color: #339933;
}

.widget__nav a:hover { 
    border-bottom: none;
}

.email {
	color: #b9b9b9;
	font-size: 0.75em;
	width: 250px;
	border: 1px solid #e1e0e0;
	border-right: none;
	padding: 15px 50px 15px 20px;
	box-sizing: border-box;
	position: absolute;
	outline: none;

}

.subscribe-button {
	position: absolute;
    transform: translateY(10px) translateX(200px);
  
}

.widget__img>img {
	width: 250px;
	height: 300px;
	margin-top: 50px
}

/*NAVIGATE*/

.navigate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 970px;
	margin: 0 auto;
	border-left: 1px solid #e1e0e0;
	border-right: 1px solid #e1e0e0;
	padding: 35px 0px;
}

.nav_bottom>a {
	text-decoration: none;
    color: #6c6969;
	font-weight: bold;
	text-transform: uppercase;
	margin: 25px;
}

.nav_bottom>a:hover {
    border-bottom:1px solid;
}

.footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    border-top: 1px solid #e1e0e0;
    height: 200px;
    line-height: 60px;
    background: #f8f8f8;
    color: #6c6969;
 }

 .bold {
 	font-weight: bold;
 }
