@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,{background: none repeat scroll 0 0 transparent; border: 0 none; font-size: 100%; outline: 0 none; vertical-align: baseline; margin: 0; padding: 0;}
table{border-collapse: collapse; border-spacing: 0;}address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary{display: block;}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
} 

a, a:hover, button, button:hover, .animev{
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	cursor: pointer;
}


/*Flex Framework*/ 
.main_flex {
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
}

.main_flex__nowrap{
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row nowrap;
	flex-flow:row nowrap;
}

.flex__auto {
	flex:auto;
	-webkit-flex:auto;
	-ms-flex:auto;
} 

.flex__jcontent_between {
	justify-content:space-between;
	-webkit-justify-content:space-between;
}

.flex__jcontent_start{
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
}

.flex__jcontent_end{
	justify-content:flex-end;
	-webkit-justify-content:flex-end;
} 

.flex__jcontent_center{
	justify-content:center;
	-webkit-justify-content:center;
} 

.flex__jcontent_around{
	justify-content:space-around;
	-webkit-justify-content:space-around;
} 


.flex__align-items_start{
	align-items:flex-start;
	-webkit-align-items:flex-start;
} 

.flex__align-items_end{
	align-items:flex-end;
	-webkit-align-items:flex-end;
} 

.flex__align-items_baseline{
	align-items:baseline;
	-webkit-align-items:baseline;
} 

.flex__align-items_stretch{
	align-items:stretch;
	-webkit-align-items:stretch;
} 

.flex__align-items_center{
	align-items:center;
	-webkit-align-items:center;
} 

.flex__align-content_flex-start{
	align-content:flex-start;
	-webkit-align-content:flex-start;
} 

.flex__align-content_flex-end{
	align-content:flex-end;
	-webkit-align-content:flex-end;
} 

.flex__align-content_space-between{
	align-content:space-between;
	-webkit-align-content:space-between;
} 

.flex__align-content_center{
	align-content:center;
	-webkit-align-content:center;
} 

.flex__align-content_space-around{
	align-content:space-around;
	-webkit-align-content:space-around;
} 

.flex__align-content_stretch{
	align-content:stretch;
	-webkit-align-content:stretch;
} 

.flex__flex-grow_01{
	flex-grow:1;
	-webkit-flex-grow:1;
} 

.flex__flex-grow_02{
	flex-grow:2;
	-webkit-flex-grow:2;
} 

.flex__flex-grow_03{
	flex-grow:3;
	-webkit-flex-grow:3;
} 

.flex__flex-grow_04{
	flex-grow:4;
	-webkit-flex-grow:4;
}

/*Flex Framework END*/

/*BODY*/

body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", 
	"Trebuchet MS", Veranda, "sans-serif";
	background-color: #b4b7b8;
}

/*BODY END*/

/*HEADER*/

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 15.62vw;
	background-color: #242b2e;
	color: #6b7072;
	box-shadow: 8px 0px 14px #848484;
	display: flex;
	flex-flow: column nowrap;
}

#logo{
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}

#logo_img{
	display: block;
	width: 6vw;
	height: 5.6vh;
}

/*HEADER NAV*/

#main_nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.93vmax;
	line-height: 1.66vmax;
	height: 3.22vmax;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #2f373b;
	background: #333b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #333b3f 0%, #2e363a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #333b3f 0%,#2e363a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #333b3f 0%,#2e363a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333b3f', endColorstr='#2e363a',GradientType=0 ); /* IE6-9 */
	padding-right: 1.3vmax;
}

#main_nav a:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18a3a1+0,31bcba+100 */
	background: #18a3a1; /* Old browsers */
	background: -moz-linear-gradient(top, #18a3a1 0%, #31bcba 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #18a3a1 0%,#31bcba 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #18a3a1 0%,#31bcba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a3a1', endColorstr='#31bcba',GradientType=0 ); /* IE6-9 */
}

nav li{
	list-style: none;
}

header ul{
	margin-top: 0vmax;
}

/*HEADER NAV END*/


/*TITLE _FILTER BEGIN*/

#title_filter{
	color: #1ab5b3;
	fill: #1ab5b3;
	font-size: 0.98vmax;
	padding: 1.25vmax;
}

#title_filter svg{
	width: 0.9vmax;
	height: 0.9vmax;
	margin-left: 0.62vmax; 
}

#filter li{
	list-style: none;
	width: 100%;
	text-align: right;
}

#filter a{
	font-size: 0.67vmax;
	line-height: 1.25vmax;
	text-align: right;
	padding: 0.41vmax 1.25vmax;
	text-decoration: none;
	color: #6b7072;
}

#filter a.active{
	color: #fff;
}

#filter a:hover{
	color: #fff;
}

/*TITLE_FILTER END*/

/*SOC_BAR*/

#soc_bar img{
	width: 1.25vmax;
	height: 1.25vmax;
}

#soc_bar a{
	margin-left: 0.52vmax;
}

#soc_bar a:hover{
	transform: scale(0.9);
}

#soc_bar{
	padding: 1.25vmax;
	border-top: 1px solid #1e282b;
	width: 100%;
	margin-top: 1.25vmax;
}

#cop{
	text-align: right;
	width: 100%;
	font-size: 0.62vmax;
	color: #6b7072;
	padding-right: 1.25vmax;
}

/*SOC_BAR END*/

/*HEADER END*/


/*MAIN BEGIN*/

main {
	width: 100%;
	min-height: 100vh;
	padding-left: 15.62vw;
	margin: 0;

}

.work_box{
	max-width: 21.09vw;
	height: 16.19vw;
	width: 25%;
	position: relative;
	overflow: hidden;
}

.work_box img{
	width: calc(100% + 5vw;);
	height: auto;
	position: absolute;
	z-index: 1;
}

.work_box a{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: inherit;
	background-color: rgba(45,184,185,0.9);
	color: #fff;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	opacity: 0;
}

.work_box a:hover{
	opacity: 1;
}

.arrow{
	width: 3vw;
	height: 3vw;
	fill: #fff;
	margin-top: 0.2vw;
}

.work_box h2{
	font-size: 1.20vw;
	font-weight: 400;
	margin-bottom: 0.2vw;
}

.work_box h3{
	font-size: 0.62vw;
	font-weight: 400;
}

.work_box h3:after{
	content: '';
	width: 50%;
	height: 1px;
	margin: 1vw auto;
	display: block;
	background-color: #fff;
}

#info{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 5;
	width: 4.68vw;
	height: 4.68vw;
	background-color: rgba(45,184,185,0.9);
	fill: #fff;
	padding: 1.2vw;
	cursor: pointer;
}

#main_nav .active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18a3a1+0,31bcba+100 */
	background: #18a3a1; /* Old browsers */
	background: -moz-linear-gradient(top, #18a3a1 0%, #31bcba 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #18a3a1 0%,#31bcba 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #18a3a1 0%,#31bcba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a3a1', endColorstr='#31bcba',GradientType=0 ); /* IE6-9 */
}

#info_box svg {
	height: 0.88vw;
	fill: #fff;
	margin-right: 0.52vw;
}

#info_box {
	position: fixed;
	right: 0;
	z-index: 5;
	background-color: rgba(0,0,0,0.7);
	padding: 1vw 3.85vw 1vw 0;
	top: 4.68vw; 
	color: #fff;
	transform: translateX(100%);
	transition: all 0.35s;
}

#info_box.open{
	transform: translateX(0%);
	transition: all 0.35s;
}


#info_box li{
	list-style: none;
	font-size: 0.83vmax;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	line-height: 0.78vmax;
	margin-bottom: 1vw;
}

#info_box li:last-of-type{
	margin-bottom: 0;
}
/*MAIN END*/


/*WORK_SITE__BEGIN*/

.wrap{
	margin: 1.56vw;
	padding: 1.56vw;
}

.white{
	background-color: #fff;
}

.info_work_box{
	width: 100%;
}

.info_work_box .left_info,
.info_work_box .right_info{
	width: 48%;
}

.info_work_box .left_info .img_box_work{
	width: 100%;
	overflow: hidden;
	height: 29.16vw;
}

.info_work_box .left_info .img_box_work img{
	width: 100%;
	height: 100%;
}

.info_work_box .left_info .about_work{
	margin-top: 1.3vw;
    padding-bottom: 1.6vw;
    border-bottom: 1px solid #e5e5e5;
    color: #a3a3a3;
    font-size: 0.93vw;
    line-height: 1.56vw;
}

.info_work_box .left_info .about_work h1,
.title_info,
.project_title,
.features_title,
.related_title{
	font-size: 1.25vw;
	line-height: 1.35vw;
	color: #000;
	margin-bottom: 1vw;
	font-weight: 400;
}

.info_work_box .left_info .about_work p{
	margin-bottom: 2.39vw;
}

.info_work_box .left_info .about_work p:last-of-type{
	margin-bottom: 0;
}

.pr_info li{
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.8vw;
	line-height: 1.56vw;
	color: #848484;
	padding: 0.72vw 0;
	border-bottom: 1px solid #e5e5e5;
}



.pr_info li img{
	margin-right: 0.67vw;
}

.pr_info,
.tags{
	margin-bottom: 2vw;

}


.tag{
	font-size: 0.8vw;
	line-height: 1.66vw;
	color: #a3a3a3;
	background-color: #fff;
	border: 1px solid #a3a3a3;
	border-radius: 1vw;
	padding: 0.73vw 1vw;
	margin-right: 0.52vw;
	justify-content: space-between;
	margin-bottom: 1.45vw;
	transition: all 2s;
	cursor: pointer;
}

.tag:last-of-type{
	margin-right: 0;
}

.tag:hover{
	color: #fff; 
	background-color:#a3a3a3;
}

.project_box{
	width: 4vmax;
	height: 4vmax;
	overflow: hidden;
	margin-right: 0.62vw;
	margin-bottom: 0.62vw;
}

.project_box img{
	width: 100%;
	height: 100%;
}

.project_box:last-of-type{
	margin-right: 0;
	margin-bottom: 2.40vw;
}

.features ul{
	padding: 0;
}

.features li{
	list-style: none;
	font-size: 0.8vw;
	color: #848484;
	padding: 0.88vw 0;
	font-weight: 600; 
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}

.features svg{
	width: 0.62vw;
	height:0.62vw;
	fill: #848484;
	margin-right: 0.41vw;
}

.related_title{
	margin: 1.56vw 0vw 1.35vw;
}

.related_box{
	width: 12.5vw;
	height: 9.47vw;
}

.related_box img{
	width: 100%;
	height: 100%;
}

/*WORK_SITE__END*/
.title_info,
.list_tags,
.project_gallery,
.features{
	margin-left: 3.5vw;
}