@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,{background: none repeat scroll 0 0 transparent; border: 0 none; font-size: 100%; outline: 0 none; vertical-align: baseline; margin: 0; padding: 0;}
table{border-collapse: collapse; border-spacing: 0;}address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary{display: block;}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
} 

a, a:hover, button, button:hover, .animev{
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	cursor: pointer;
}


/*Flex Framework*/ 
.main_flex {
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
}

.main_flex__nowrap{
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row nowrap;
	flex-flow:row nowrap;
}

.flex__auto {
	flex:auto;
	-webkit-flex:auto;
	-ms-flex:auto;
} 

.flex__jcontent_between {
	justify-content:space-between;
	-webkit-justify-content:space-between;
}

.flex__jcontent_start{
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
}

.flex__jcontent_end{
	justify-content:flex-end;
	-webkit-justify-content:flex-end;
} 

.flex__jcontent_center{
	justify-content:center;
	-webkit-justify-content:center;
} 

.flex__jcontent_around{
	justify-content:space-around;
	-webkit-justify-content:space-around;
} 


.flex__align-items_start{
	align-items:flex-start;
	-webkit-align-items:flex-start;
} 

.flex__align-items_end{
	align-items:flex-end;
	-webkit-align-items:flex-end;
} 

.flex__align-items_baseline{
	align-items:baseline;
	-webkit-align-items:baseline;
} 

.flex__align-items_stretch{
	align-items:stretch;
	-webkit-align-items:stretch;
} 

.flex__align-items_center{
	align-items:center;
	-webkit-align-items:center;
} 

.flex__align-content_flex-start{
	align-content:flex-start;
	-webkit-align-content:flex-start;
} 

.flex__align-content_flex-end{
	align-content:flex-end;
	-webkit-align-content:flex-end;
} 

.flex__align-content_space-between{
	align-content:space-between;
	-webkit-align-content:space-between;
} 

.flex__align-content_center{
	align-content:center;
	-webkit-align-content:center;
} 

.flex__align-content_space-around{
	align-content:space-around;
	-webkit-align-content:space-around;
} 

.flex__align-content_stretch{
	align-content:stretch;
	-webkit-align-content:stretch;
} 

.flex__flex-grow_01{
	flex-grow:1;
	-webkit-flex-grow:1;
} 

.flex__flex-grow_02{
	flex-grow:2;
	-webkit-flex-grow:2;
} 

.flex__flex-grow_03{
	flex-grow:3;
	-webkit-flex-grow:3;
} 

.flex__flex-grow_04{
	flex-grow:4;
	-webkit-flex-grow:4;
}

/*Flex Framework END*/

/*HEADER*/

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 15.62vw;
	background-color: #242b2e;
	color: #6b7072;
	box-shadow: 8px 0px 14px #848484;
	display: flex;
	flex-flow: column nowrap;
}

#logo{
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}

#logo_img{
	display: block;
	width: 6vw;
	height: 5.6vh;
}
/*HEADER END*/