@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,{background: none repeat scroll 0 0 transparent; border: 0 none; font-size: 100%; outline: 0 none; vertical-align: baseline; margin: 0; padding: 0;}
table{border-collapse: collapse; border-spacing: 0;}address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary{display: block;}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	 box-sizing: border-box;
} 

a, a:hover, button, button:hover, .animev{
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	cursor: pointer;
}

/*Flex Framework*/ 
.main_flex {
 display:flex;
 display:-webkit-flex;
 -webkit-flex-flow:row wrap;
 flex-flow:row wrap;
}

.main_flex__nowrap{
 display:flex;
 display:-webkit-flex;
 -webkit-flex-flow:row nowrap;
 flex-flow:row nowrap;
}

.flex__auto {
 flex:auto;
 -webkit-flex:auto;
 -ms-flex:auto;
} 

.flex__jcontent_between {
 justify-content:space-between;
 -webkit-justify-content:space-between;
}

.flex__jcontent_start{
 justify-content:flex-start;
 -webkit-justify-content:flex-start;
}

.flex__jcontent_end{
 justify-content:flex-end;
 -webkit-justify-content:flex-end;
} 

.flex__jcontent_center{
 justify-content:center;
 -webkit-justify-content:center;
} 

.flex__jcontent_around{
 justify-content:space-around;
 -webkit-justify-content:space-around;
} 


.flex__align-items_start{
 align-items:flex-start;
 -webkit-align-items:flex-start;
} 

.flex__align-items_end{
 align-items:flex-end;
 -webkit-align-items:flex-end;
} 

.flex__align-items_baseline{
 align-items:baseline;
 -webkit-align-items:baseline;
} 

.flex__align-items_stretch{
 align-items:stretch;
 -webkit-align-items:stretch;
} 

.flex__align-items_center{
 align-items:center;
 -webkit-align-items:center;
} 

.flex__align-content_flex-start{
 align-content:flex-start;
 -webkit-align-content:flex-start;
} 

.flex__align-content_flex-end{
 align-content:flex-end;
 -webkit-align-content:flex-end;
} 

.flex__align-content_space-between{
 align-content:space-between;
 -webkit-align-content:space-between;
} 

.flex__align-content_center{
 align-content:center;
 -webkit-align-content:center;
} 

.flex__align-content_space-around{
 align-content:space-around;
 -webkit-align-content:space-around;
} 

.flex__align-content_stretch{
 align-content:stretch;
 -webkit-align-content:stretch;
} 

.flex__flex-grow_01{
 flex-grow:1;
 -webkit-flex-grow:1;
} 

.flex__flex-grow_02{
 flex-grow:2;
 -webkit-flex-grow:2;
} 

.flex__flex-grow_03{
 flex-grow:3;
 -webkit-flex-grow:3;
} 

.flex__flex-grow_04{
 flex-grow:4;
 -webkit-flex-grow:4;
}


body {
	background-color: #fff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1.26vmax;
	line-height: 1.9vmax;
	color: #323232;
}

.wrap {
	width: 75vw;
	margin: 0 auto;
	position: relative;
}

#header{
	width: 100%;
	height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/header_01.png);
	padding-top: 7vh;
	padding-bottom: 8vh;
	color: #fff;
}

#top_header{
	height: 10vh;
	overflow: hidden;
}

#logo{
	width: 15vh;
}

#call{
	text-transform: uppercase;
	border:1px solid #c9c9c9;
	border-image:url(../img/border_bottom.png) 0 0 30 stretch stretch;
	cursor: pointer;
}

nav li{
	list-style-type: none;
}

nav a{
	text-decoration: none;
}

#bottom_header a{
	color: #fff;
	text-transform: uppercase;
}

#about{
	width: 100%;
	padding-top: 18vh;
	padding-bottom: 22vh;
	background-color: #fff;
}

#text_about{
	width: 44vw;
	padding-right: 1.5vw;
}

#text_about--p{
	padding-left: 1.8vw;
}

#text_about ul{
	width: 30vw;
	margin: 6vh 0;
}

#text_about ul li{
	margin-bottom: 1.8vh;
}

.blue{
	color: #00aaef;
}

#title_about p{
	text-transform: uppercase;
	font-size: 3.8vw;
	line-height: 4.74vh;
}

#title_about{
	width: 30vw;
}

.title{
	margin: 0 auto 5.5vh;
	z-index: 5;
	width: fit-content;
	position: relative;
	top: -1.61vw;
}

.title h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 3.79vw;
	color: #323232;
	line-height: 2.84vw;
	margin-bottom: 1.22vh;
	font-weight: 400;
	letter-spacing: 0.1vw;
}

.dec_svg{
	width: 2.58vw;
	margin: 0 0.79vw;
}

.line{
	background-color: #00aaef;
	height: 0.26vh;
	width: 100%;
}



#gallery{
	background-color: #c9c9c9;
	padding: 0 0 14.3vh;
}



.box_img_gllery{
	height: 20.15vmax;
	overflow: hidden;
	
}

.ig_1 {
	width: 49vw;
	margin-right: 1.58vw;
	
}

.ig_2 {
	width: 23.71vw;
}

.ig_3 {
	width: 36.36vw;
	margin-right: 1.58vw;
}

.ig_4 {
	width: 38.06vw;
}

.ig_5 {
	width: 23.71vw;
	margin-right: 1.58vw;
}

.ig_6 {
	width: 53.86vw;
}

.box_img_gllery img{
	width: 100%;
	height: 100%;
}

.name_gallery{
	font-size: 1.26vw;
	margin: 2.61vh 0 4.57vh;
	font-weight: 700;
}

.blue_btn{
	background-color: #00aaef;
	color: #fff;
	text-transform: uppercase;
}

.btn{
	border: none;
	padding: 1.58vw 4.98vw;
}

.blue_btn:hover{
	background-color: #0185ba;
}



/*CONSUTATION BEGIN*/

#consultation {
	background-color: #fff;
}

#text_consultation{
	width: 36.36vw;
}

#text_consultation h2{
	font-size: 2.52vw;
	line-height: 2.84vw;
	margin-bottom: 6.53vh;
	font-weight: 400;
	margin-top: 0;
}

#form_consultation input{
	background-color: #eeeeee;
	border: none;
	text-align: center;
	width: 100%;
	height: 6.79vh;
	font-size: 1.1vw;
	color: #393939;
	text-transform: uppercase;
	margin-bottom: 1.3vh;
}

#form_consultation{
	width: 30vw;
}

#form_consultation button{
	width: 30vw;
	text-align: center;
}

#consultation{
	padding-bottom: 19vh;
}

.title_consultation{
	margin: 0 auto 5.5vh;
	z-index: 5;
	width: fit-content;
	position: relative;
	top: -4.61vw;
}

.title_consultation h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 3.79vw;
	color: #323232;
	line-height: 2.84vw;
	margin-bottom: 1.22vh;
	font-weight: 400;
	letter-spacing: 0.1vw;
}
/*CONSULTATION END*/


/*TESTIMONALS BEGIN*/


#testimonials{
	background-color: #eee;
    padding-bottom: 17.19vh;
}

.box_tm{
	width: 23.71vw;	
}

.name_tm h3{
	font-weight: bold;
}

.name_tm h4{
	font-style: italic;
	color: #696973;
	font-weight: 400;
}

.name_tm h4, .name_tm h3{
	font-size: 1.26vw;
	text-align: center;
}

.name_tm {
	margin-bottom: 1.3vh;
}

.text_tm{
	text-align: center;
}

.box_img_tm{
	width: 11.62vw;
	height: 10.62vw;
	border-radius: 11.62vw;
	overflow: hidden;
	text-align: center;
}

.box_img_tm img{
	width: 100%;
	height: auto;
}




/*TESTIMONALS END*/



  /*SVG*/

#svg_1{fill:#FFFFFF;}

#svg_2{fill:#00aaef;}